In [ ]:
# Render our plots inline
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [4]:
import pandas as pd

broken_df = pd.read_csv('bikes.csv')

broken_df.head()

# Look at the first 3 rows
# broken_df[:3]

  Date;Berri 1;Br?beuf (donn?es non disponibles);C?te-Sainte-Catherine;Maisonneuve 1;Maisonneuve 2;du Parc;Pierre-Dupuy;Rachel1;St-Urbain (donn?es non disponibles)
0                   01/01/2012;35;;0;38;51;26;10;16;
1                   02/01/2012;83;;1;68;153;53;6;43;
2                 03/01/2012;135;;2;104;248;89;3;58;
3                04/01/2012;144;;1;116;318;111;8;61;
4                05/01/2012;197;;2;124;330;97;13;95;